body {
    background-image: url(akin-cakiner-nkUFXi0JSX8-unsplash.jpg);
    font-family: sans-serif, arial;
    font-size: 16px;
    color: white;
}

#main-header {
    border-style: solid;
    border-width: medium;
    border-color: #17303c;
    padding: 15px;
    text-align: center;
    font-size: 22px;
    width: 96.3%;
    margin-right: 20px;
    margin-left: 20px;
    

}


#navigation {
    background-color: DarkSlateGray;
    color: white;
    float: none;
    height: 20px;
    padding: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
    word-spacing: 10px;
    text-decoration: none;
    

}

a:link, a:visited {
    display: inline;
    padding: 20px;
    text-decoration: none;
    margin-top: 10px;
    color: white;

}

a:hover, a:active {
    background-color: DarkSeaGreen;
    color: white;
}


ul {
    list-style-type: none;
    text-decoration: none;

}

ol {
    list-style-type: none;
    text-decoration: none;

}
#section1 {
    background-color: DimGrey;
    float: left;
    width: 55%;
    padding: 40px;
    height: 214px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;

}
#article1 {
    border: 3px solid DarkSlateGrey;
    padding: 5px;
    text-align: center;
    
}
#article2 {
    border: 3px solid DarkSlateGrey;
    padding: 5px;
    text-align: center;
      
}
#article3 {
    border: 3px solid DarkSlateGrey;
    padding: 5px;
    text-align: center;
      
}
#aside {
    background-color: DarkGray;
    float: right;
    width: 33%;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 40px;;
    height: 530px;
    text-align: center;
    margin-right: 20px;
 
}
.computerimage {
    border: 2px dotted black;

}
footer {
    background-color: DarkSlateGray;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 20px;
    width: 96.1%;
    height: 30px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
 
}
#contact {
}

.portfolioheader {
    text-align: center;
}

.portfoliotext {
    text-align: center;
}
