body {background-color: #FFFFF0; color: DimGray; font-family: sans-serif}
h1 {font-size: 20px;}
h3 {font-size: 18px;}
p {width: 20%; font-size: 16px; color: DarkBlue; background-color: Lavender}
ol {list-style-type: upper-alpha;}
ul {list-style-type: square;}
.myDiv {border-style: dotted; border-width: 2px;}
.myDiv {height: 200px; width:200px }